<div class="container mt-3">

    <section class="fs-2 card-body border-bottom pb-3">
        About Us
    </section>

    <div class="container card-body">
        <p class="fs-4"><strong><em>Invest-Easy</em></strong> is the web based portal and matching service of business investors seeking investments, with entrepreneurs seeking capital. This website has been created in response to the growing demand of  private investors to invest in things that are more tangible, predictable and closer to home.</p>
        <p class="fs-4">This application allows all the the three types of investors:  Angel Investors, Seed Investors, Crowd Funded Investments to collaborate with the Firms / Companies.</p>
    </div>

</div>

<br><br>

<!-- FOOTER -->
<footer class="container mt-5 mb-3 pb-3 pt-1 border-top pt-3">
    <p class="float-end"><a href="/">Back to Home</a></p>
    <p>&copy; 2022 <em>Invest-Easy</em>, ltd.</p>
</footer>