<!-- Carousal -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../images/new1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="color: #1b1717">
                <h2>Connect with top <strong>Investors</strong>!</h2>
                <p class="text-primary mb-0">With our inception membership, <strong><em class="text-dark">Invest-Easy</em></strong> provides unique opportunities </p>
                <p class="text-primary">to interact with our worldwide ecosystem of <strong><em class="text-dark">Investors!</em></strong></p>
                <a href="#welcome" class="btn btn-primary" type="button">Explore Now</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../images/12.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="color: black">
                <h2>Connect with top <strong>Clients</strong>!</h2>
                <p class="text-primary mb-0"><strong><em class="text-dark">Invest-Easy</em></strong> provides the Authenticity </p>
                <p class="text-primary">of real time <strong><em class="text-dark">Clients.</em></strong></p>
                <a href="#welcome" class="btn btn-primary" type="button">Explore Now</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container mb-3" id="welcome">
    <main>    
        <div class="container py-4">
            <header class="pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <h2 class="fs-4 text-primary">Welcome!</h2>
                </a>
            </header>
    
            <div class="container mt-3 text-center">
                <p class="fs-5">You have come to an apt platform, if you are seeking for investments of different kinds.
                This is a unique platform where all types of investments provided in a single application.
                This is a win-win for both the parties.</p>
                <p class="fs-4 text-primary">Go-on start your investment journey!</p>
            </div>
            
            <div class="row mt-5 mb-5">
                <div class="col-md-6 m-auto">
                    <div class="card card-body text-center">
                        <h1><i class="uil uil-users-alt"></i></h1>
                        <p>Choose account type!</p>
                        <a href="/users/client" class="btn btn-outline-primary btn-block mb-2" >Client</a>
                        <a href="/users/investor" class="btn btn-outline-primary btn-block">Investor</a>
                    </div>
                </div>
            </div>

            <!-- Funding Description -->
            <div class="container marketing">
                <!-- <hr class="featurette-divider"> -->

                <div class="row featurette border-bottom pb-3 pt-3 border-top">
                    <div class="col-md-7">
                        <h1 class="featurette-heading">Angel Funding. <span class="text-muted"></span></h1>
                        <p class="lead">An angel investor (also known as a private investor, seed investor or angel funder) is a high-net-worth individual who provides financial backing for small startups or entrepreneurs, typically in exchange for ownership equity in the company.</p>
                    </div>
                    <div class="col-md-5">
                        <img style="max-width: 100%;" src="images/angel.png" alt="Angel Investor">                
                    </div>
                </div>
            
                <div class="row featurette border-bottom pb-3 pt-3">
                    <div class="col-md-7 order-md-2">
                        <h1 class="featurette-heading">Crowd Funding.<span class="text-muted"></span></h1>
                        <p class="lead">Crowdfunding is the use of small amounts of capital from a large number of individuals to finance a new business venture. Crowdfunding makes use of the easy accessibility of vast networks of people through social media and crowdfunding websites to bring investors and entrepreneurs together.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img src="images/crowd.png" alt="Angel Investor">
                    </div>
                </div>
            
                <div class="row featurette border-bottom pb-3 pt-3">
                    <div class="col-md-7">
                        <h1 class="featurette-heading">Seed Funding.<span class="text-muted"></span></h1>
                        <p class="lead">Seed money, sometimes known as seed funding or seed capital, is a form of securities offering in which an investor invests capital in a startup company in exchange for an equity stake or convertible note stake in the company. The term seed suggests that this is a very early investment, meant to support the business until it can generate cash of its own (see cash flow), or until it is ready for further investments.</p>
                    </div>
                    <div class="col-md-5">
                        <img src="images/seed.png" alt="Angel Investor">
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>

<!-- FOOTER -->
<footer class="container mb-3 pb-3 pt-1">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2022 <em>Invest-Easy</em>, ltd.</p>
</footer>